<ion-view style="" title="Cadastro de Situação">
    <ion-content class="has-header has-footer" scroll="false" overflow-scroll="true" padding="'true'">
        <h1 style="">Heading</h1>
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Local</span>
                <select></select>
            </label>
            <div style="" class="button-bar">
                <button style="" class="button button-positive button-outline button-block button-large button-full">Oportunidade de Melhoria</button>
                <button style="" class="button button-energized button-outline button-block button-large button-full">Situação de Risco</button>
            </div>
            <div style="height: 100px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>