        <ion-view style="" title="Cadastro de Situação">
            <ion-content class="has-header has-footer" scroll="false" overflow-scroll="true" padding="'true'">
                <form style="" class="list">
                <label class="item item-input item-select">
                  <div class="input-label">
                    Local
                  </div>
                  <select>
                  <option ng-repeat="local in Locais" >
                            {{ local.nome }}
                          </option>
                  </select>
               </label>
               <div class="row">
                 <div class="col col-50">
                     <ion-radio ng-model="choice" ng-value="Melhoria">Oportunidade de Melhoria</ion-radio>
                 </div>
                 <div class="col col-50">
                     <ion-radio ng-model="choice" ng-value="Risco">Situação de Risco</ion-radio>
                 </div>
             </div>  
                    <div style="height: 100px;" class="spacer"></div>

                    <label style="" class="item item-input">
                        <span class="input-label">Descrição</span>
                        <textarea placeholder="" rows="10"> </textarea>
                    </label>
                </form>
            </ion-content>
        </ion-view>