<ion-view style="" title="Login">
    <ion-content class="has-header" scroll="true" overflow-scroll="true" padding="'true'">
        <img style="width: 100%; height: auto;" src="img/ziYMCUFRSaS6q5qJiVvJ_1268Enel_Logo_sRGB.jpg" height="auto" width="100%">
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Usuário</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Senha</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <a style="" class="button button-stable button-block " href="#/cadsit">Log in</a>
            <a style="" class="button button-positive button-clear button-block " href="#/page3">Crie uma conta</a>
        </form>
    </ion-content>
</ion-view>